<div class="page-body bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8" class="container-form">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <h1 class="pb-4">Login</h1>
              <!-- <p class="text-medium-emphasis">Sign In to your account</p> -->
              <c-input-group class="mb-2">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input
                  autoComplete="username"
                  cFormControl
                  placeholder="Username"
                  [(ngModel)]="userEmail"
                />
              </c-input-group>
              <div class="mb-3">
                <div *ngIf="isSubmitted">
                  <small class="text-danger" *ngIf="!userEmail"
                    >Email is required</small
                  >
                </div>
              </div>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input
                  autoComplete="current-password"
                  cFormControl
                  placeholder="Password"
                  type="password"
                  [(ngModel)]="userPassword"
                />
              </c-input-group>
              <div *ngIf="isSubmitted" class="mb-2">
                <small class="text-danger" *ngIf="!userPassword">
                  Password is required.
                </small>
                <small class="text-danger text-center" *ngIf="msgError">
                  {{ msgError }}.
                </small>
              </div>
              <c-row class="d-flex justify-content-center">
                <button
                  cButton
                  class="px-4 btn btn-primary"
                  color="primary"
                  (click)="login()"
                >
                  Sign in
                </button>
              </c-row>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
