:host::ng-deep {
  .p-dropdown,
  input,
  .p-multiselect {
    border: solid 1px;
    width: 100%;
  }
  .p-inputtext {
    height: 2.5rem;
  }
  .p-fileupload {
    border-radius: 10px;
    .p-fileupload-buttonbar {
      display: flex;
      justify-content: end;
    }
    .p-fileupload-buttonbar .p-button {
      background-color: var(--primary-color);
      border: none;
      border-radius: 5px;
    }
    .p-button {
      background-color: red;
      border: none;
      border-radius: 7px;
    }
  }
  .p-inputtext {
    border: none;
  }
  #textarea {
    border: solid 1px;
  }
}

.inputtext {
  height: 40px;
  border-radius: 3px;
}
.p-float-label {
  margin-bottom: 0.5rem;
}

i {
  font-size: 24px;
  cursor: pointer;
  color: blue;
}

.avatar {
  span {
    background-color: #bababa;
  }
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  img {
    height: 180px;
    width: 180px;
    object-fit: fill;
  }
}

@media (max-width: 575.98px) {
  .detail-info {
    grid-template-columns: repeat(1, 1fr);
  }
}
